/* Заголовок 1-крассная ссылка*/
.largest-header-blog a{
	font: normal 28px/34px "RodeoC", sans-serif;
    color: #666666;
    text-decoration: none;
    text-shadow: -1px 0 0 #FFFFFF;
}
.largest-header-blog a:hover{
	color: #ff585d;
}
 a.more{font:11px arial;text-decoration:none;color:#999999;text-shadow:none;padding:2px 24px 4px 1px;background: url(img/a.png) no-repeat right top;text-transform:uppercase}
 a.more:hover{color:#666666;background: url(img/a.png) no-repeat right -40px;}
 .hover.more {
     color:#666666;background: url(img/a.png) no-repeat right -40px;
 }
a.more-noicon,
a.more-editor {font:11px arial;text-decoration:none;color:#999999;text-shadow:none;padding:2px 24px 4px 1px;text-transform:uppercase}
a.more-editor:hover {
	color: #666666;
}
 .largest-header-blog{
	font: normal 28px/34px "RodeoC", sans-serif;
    color: #666666;
    text-decoration: none;
    text-shadow: -1px 0 0 #FFFFFF;
}
.regular p {
    margin-top: 14px;
    margin-bottom: 14px;
}
.regular a {
    text-decoration: none;
}
.regular a:hover {
    text-decoration: underline;
}
.blogtaglink {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
}
.blogtaglink:hover {
    text-decoration: underline;
}
.viewpost ol {
    padding-left: 40px;
    list-style-type: decimal;
}
.viewpost ul {
    padding-left: 40px;
    list-style-type: disc;
}
.viewpost strong {
    font-weight:bold;
}
.onTop {
    position: fixed;
    bottom: -105px;
    right: 90px;
    width: 102px;
    height: 105px; 
    background-image: url(img/blog-onTop.png);
    background-position: bottom;
}
.onTop:hover {
	cursor: pointer;
	background-position: top;
}
.onTopMiddle {
	display: none;
    position: absolute;
    bottom: 0;
    right: 90px;
    width: 102px;
    height: 105px; 
    background-image: url(img/blog-onTop.png);
    background-position: bottom;
}
.onTopMiddle:hover {
    cursor: pointer;
    background-position: top;
}
#blog-ajax-wrapper {
	position: relative;
	display: block;
	width: 837px;
	height: 32px;
	clear: both;
	background: url(/img/sep.png) repeat-x scroll 0 50% transparent;
	margin-bottom: 20px;
}
#blog-ajax-loader {
	position: absolute;
	left: 386px;
	top: 0;
	width: 60px;
	height: 32px;
	background: url(img/blog-ajax-loader.gif) #e3e3e3 top center no-repeat;
}
