@font-face {
    font-family: 'OfficinaSansC Bold';
    src: url('fonts/officinasansboldc.eot');
    src: url('fonts/officinasansboldc.eot') format('embedded-opentype'),
        url('fonts/officinasansboldc.woff2') format('woff2'),
        url('fonts/officinasansboldc.woff') format('woff'),
        url('fonts/officinasansboldc.ttf') format('truetype'),
        url('fonts/officinasansboldc.svg#OfficinaSansBoldCRegular') format('svg');
}

@font-face {
    font-family: 'OfficinaSansC Book';
    src: url('fonts/officinasansbookc.eot');
    src: url('fonts/officinasansbookc.eot') format('embedded-opentype'),
        url('fonts/officinasansbookc.woff2') format('woff2'),
        url('fonts/officinasansbookc.woff') format('woff'),
        url('fonts/officinasansbookc.ttf') format('truetype'),
        url('fonts/officinasansbookc.svg#OfficinaSansBookCRegular') format('svg');
}

/*Дополнение*/
.supplement {
    font:13px/17px "Arial", sans-serif;
    color: #666666;
    text-shadow: -1px 0 0 #FFFFFF;
}

.graysupplement {
    font:13px/17px "Arial", sans-serif;
    color: #999999;
    text-shadow: -1px 0 0 #FFFFFF;
}
/*Дополнение 2*/
.supplement2 {
    font:11px/14px "Arial", sans-serif;
    color: #666666;
    text-shadow: -1px 0 0 #FFFFFF;
}
/*Дополнение 3*/
.supplement3 {
    font:11px/14px "Arial", sans-serif;
    color: #999999;
    text-shadow: -1px 0 0 #FFFFFF;
}
/* Дополнение 4 */
.supplement4 {
    font:11px/14px "Arial", sans-serif;
    color: #666666;
    text-shadow: -1px 0 0 #FFFFFF;
}
/*Заголовок 3 bold*/
.greyboldheader {
    font:bold 17px/20px "RodeoC", sans-serif;
    color: #666666;
    text-shadow: -1px 0 0 #FFFFFF;
}
.checkboxtext {
    font:11px "Arial", sans-serif;
    color: #666666;
    text-shadow: -1px 0 0 #FFFFFF;
}
.regular {
    font: 14px/20px "Arial", sans-serif;
    color: #666666;
    text-shadow: -1px 0 0 #FFFFFF;
}
.large-regular {
    font: 16px/22px "Arial", sans-serif;
    color: #666666;
    text-shadow: -1px 0 0 #FFFFFF;
}
.regular-small-grey {
    font: 11px "Arial", sans-serif;
    color: #B1B1B1;
    text-shadow: -1px 0 0 #FFFFFF;
}
/* Заголовок 1*/
.largest-header{
    font: normal 28px/34px "RodeoC", sans-serif;
    color: #666666;
    text-shadow: -1px 0 0 #FFFFFF;
}
/* Заголовок 1-крассная ссылка*/
.largest-header a{
    color: #ff585d;
    text-decoration: none;
}
/* Заголовок 1-крассная ссылка*/
.largest-header a:hover{
    color: #ff7377;
    text-decoration: none;
}
