/*
Author:     Aleks Hudochenkov
Release:    3.11.2011
-----------------------------------------------------------------------------*/

button {
	overflow: visible;
	width: auto;
}
textarea {
	overflow: auto;
}

















