.white {
	background: #fff;
}
.messages {
	padding: 0 0 0 62px;
	background: #E0E0E0 url(img/content-bg.png)
}
.messages_gallery {
	padding: 0 0 0 0px;
	background: #E0E0E0 url(img/content-bg.png)
}
.separator {
	width: 745px;
	height: 3px;
	background: url('img/sep.png') repeat-x;
	margin: 28px 0 0 38px;
}
.messages_titles {
	width: 823px;
	height: 26px;
	background: #51535b;
	padding: 10px 0 0 6px;
	text-transform: uppercase;
}
.messages_titles img {
	margin: 0 44px 0 0;
}
.messages_titles span {
	margin: 0 310px 0 0;
	font: normal 12px/1 "RodeoC", sans-serif;
	color: #fff;
}
.all_messages {
	margin: 15px 0 0 38px;
}
.all_messages .first_msg {
	background: url('img/all_messages.png') no-repeat;
	width: 207px;
	height: 36px;
	text-align: center;
	float: left;
}
.all_messages .first_msg:hover {
	background: url('img/all_messages_hover.png') no-repeat;
}
.all_messages .second_msg {
	background: url('img/correspondence.png') no-repeat;
	width: 542px;
	height: 36px;
	text-align: center;	
	float: left;
	margin: 0 0 0 14px;	
}
.all_messages .first_msg a, .all_messages .second_msg a {
	color: #fff;
	text-decoration: none;
	font: normal 12px/1 "RodeoC", sans-serif;
	vertical-align: middle;
	line-height: 36px;
}	
.all_messages .first_msg:hover {
	background: url('img/all_messages_hover.png') no-repeat;
}
.messages section form, .messages_gallery section form {
	margin: 15px 0 0 38px;
}
.messages section form textarea,.messages_gallery section form textarea {
	width: 535px;
	height: 130px;
	float: left;
	margin: 0 12px 0 0;
}
.messages section form input, .messages_gallery section form input {
	margin: 0 0 0 13px;
}
.messages section form .messages_info, .messages_gallery section form .messages_info {
	background: url('img/message-info-bg.png') no-repeat;
	width: 191px;
	height: 59px;
	font: bold 11px/1 "HelveticaCE35", sans-serif;
	text-transform: none;
	color: #fff;
	padding: 9px 0 0 41px;
	float: left;
}
.messages section form .messages_info span, .messages_gallery section form .messages_info span {
	vertical-align: middle;
	line-height: 41px;
}
.message_info2, .messages_gallery .message_info2 {
	background: url('img/message-info2-bg.png') no-repeat;
	width: 191px;
	height: 54px;
	font: bold 11px/1 "Arial", sans-serif;
	text-transform: none;
	color: #fff;
	padding: 9px 0 0 16px;
	float: left;
	margin: 28px 0 0 38px;
}
.message_info1, .messages_gallery .message_info1 {
	background: url('img/messages_hover_03.png') no-repeat;
	width: 191px;
	height: 54px;
	font: bold 11px/1 "Arial", sans-serif;
	text-transform: none;
	color: #fff;
	padding: 9px 0 0 16px;
	float: left;
	margin: 28px 0 0 38px;
}
.message_info5, .messages_gallery .message_info5 {
    background: url('img/message-info-bg_04-e.png') no-repeat;
    width: 191px;
    height: 54px;
    font: bold 11px/1 "Arial", sans-serif;
    text-transform: none;
    color: #fff;
    padding: 9px 0 0 16px;
    float: left;
    margin: 28px 0 0 38px;
}
.message_info2 img, .messages_gallery .message_info2 img {
	float: left;
	margin: 0 5px 0 0;
}
.message_info1 img, .messages_gallery .message_info1 img {
    float: left;
    margin: 0 5px 0 0;
}
.message_info4 img, .messages_gallery .message_info4 img {
    float: left;
    margin: 0 5px 0 0;
}
.message_info5 img, .messages_gallery .message_info5 img {
    float: left;
    margin: 0 5px 0 0;
}
.message_info5 a span, .messages_gallery .message_info5 a span {
    vertical-align: middle;
    line-height: 20px;
    width: 105px;
    display: block;
    float: left;
    color: #fff;
    text-decoration: none;
}
.message_info2 a span, .messages_gallery .message_info2 a span {
	vertical-align: middle;
	line-height: 20px;
	width: 105px;
	display: block;
	float: left;
	color: #fff;
	text-decoration: none;
}
.message_info1 a span, .messages_gallery .message_info1 a span {
    vertical-align: middle;
    line-height: 20px;
    width: 105px;
    display: block;
    float: left;
    color: #666666;
    text-decoration: none;
}
.message_info2 a, .messages_gallery .message_info2 a {
	color: #fff;
	text-decoration: none;
}
.message_info1 a, .messages_gallery .message_info1 a {
    color: #666666;
    text-decoration: none;
}

.message_info4 img, .messages_gallery .message_info4 img {
	float: left;
	margin: 0 5px 0 0;
}
.message_info4 a span, .messages_gallery .message_info4 a span {
	vertical-align: middle;
	line-height: 20px;
	 width: 105px;
	display: block;
	float: left;
	color: #fff;
	text-decoration: none;
}
.message_info4 a, .messages_gallery .message_info4 a {
	color: #fff;
	text-decoration: none;
}


.message_info3 a, .messages_gallery .message_info3 a {
	color: #fff;
	text-decoration: none;
}

.message_info4 a, .messages_gallery .message_info4 a {
	color: #fff;
	text-decoration: none;
}

.messages .message_text, .messages_gallery .message_text {
	margin: 35px 0 0 26px;
	float: left;
	width: 520px;
	text-transform: none;
	color: #8f8f8f;
	font: normal 13px/1 "Arial", sans-serif;
	line-height: 17px;
    word-wrap:break-word;
}
.messages .message_text h4, .messages_gallery .message_text h4 {
	font: bold 14px/1 "Arial", sans-serif;
	text-transform: none;
	line-height: 17px;
}
.checkbox {
	float: right;
	margin: 18px 117px 0 0;
	width: 49px;
	height: 28px;
	background: url('img/marker10.png') no-repeat;
}
.checkbox_red {
	float: right;
	margin: 18px 117px 0 0;
	width: 49px;
	height: 28px;
	background: url('img/marker11.png') no-repeat;
}
.message_info3 {
	background: url('img/message-info-bg_02.png') no-repeat;
	width: 191px;
	height: 54px;
	font: bold 11px/1 "HelveticaCE35", sans-serif;
	text-transform: none;
	color: #fff;
	padding: 9px 0 0 16px;
	float: left;
	margin: 28px 0 0 38px;
}
.message_info3 span {
	vertical-align: middle;
	width: 67px;
	display: block;
	float: left;
	margin: 3px 0 0 17px;
	/*color: #666;*/
}

.message_info4 {
	background: url('img/message-info-bg_04.png') no-repeat;
	width: 142px;
	height: 54px;
	font: bold 11px/1 "HelveticaCE35", sans-serif;
	text-transform: none;
	color: #fff;
	padding: 9px 0 0 65px;
	float: left;
	margin: 28px 0 0 38px;
}
.message_info4 span {
	vertical-align: middle;
	width: 67px;
	display: block;
	float: left;
}

.message_text2 {
	margin: 28px 0 15px 26px;
	float: left;
	width: 520px;
	text-transform: none;
	color: #8f8f8f;
	font: normal 13px/1 "Arial", sans-serif;
	line-height: 17px;
}
.message_text2 h4 {
	font: bold 14px/1 "Arial", sans-serif;
	text-transform: none;
	line-height: 17px;
}
.message_info3 img {
	float: left;
}
.transparent_menu {
	background: #65676e;
	opacity: 0.85;
	position: absolute;
	right: 116px;
	margin: -28px 0 0 0;
}
.transparent_menu a {
	color: #fff;
	text-decoration: none;
	text-transform: none;
	font: normal 11px/1 "Arial", sans-serif;
	display: inline-block;
	height: -3px;
	width: 100%;	
	padding: 10px;
}
.transparent_menu ol li span {
	font: bold 11px/1 "Arial", sans-serif;
	text-transform: none;
	color: #fff;
	padding: 10px;
	display: inline-block;
}
.transparent_menu ol li.hov:hover {
	background: #50525a;
}

.clr {
	clear: both;
}

.comments-solution {
	background: none;
}

.info-short {
	margin-left:0px;
}
.edit-link-in-comment {
    text-decoration: none;
    background: url('/img/edit_comment_icon.png') no-repeat;
    padding-left: 20px;
    margin-left: 10px;
}
.edit-link-in-comment:hover {
    text-decoration: underline;
}
.delete-link-in-comment {
   text-decoration: none;
   background: url('/img/delete_icon.png') no-repeat;
   padding-left: 20px;
   margin-left: 10px;
}
.delete-link-in-comment:hover {
    text-decoration: underline;
}
.reply-link-in-comment {
    text-decoration: none;
    background: url('/img/retweet.png') no-repeat;
    padding-left: 20px;
}
.reply-link-in-comment:hover {
    text-decoration: underline;
}
.warn-link-in-comment {
    margin-right: 15px;
    text-decoration: none;
    background: url('/img/dislike.png') no-repeat scroll 0 3px;
    padding-left: 20px;
}
.warn-link-in-comment:hover {
    background: url('/img/dislike_press.png') no-repeat scroll 0 3px;
    text-decoration: underline;
}
.toolbar {
    display:none;
}
