.gallery_container {
	position: relative;
}

.blueheading {
	color: #648FA4!important;
	font: 17px "RodeoC", serif;
	font-weight: bold;
	text-align: left;
	text-transform: none;
	padding: 0;
	margin: 0 0 5px;
	text-shadow: 1px 1px 1px white;
}

.separator {
	width: auto;
	height: 3px;
	background: url('/img/sep.png') repeat-x;
	margin: 0;
}

.details p {
	color: #666;
	font: 14px/20px "Arial", sans-serif;
	margin: 0 0 20px;
	word-break: break-word;
}

.Center {
	width: 600px;
	padding-top: 20px;
}

.menu ul li a.selected {
	background: url("/img/menu-hover-bg.png") no-repeat 50% 0;
}

.menu ul li a:hover {
	background: url("/img/menu-hover-bg.png") no-repeat 50% 0;
}

#cena {
	color: #648fa4;
}

#period {
	font: 11px Helvetica, sans-serif;
}

#solutions {
	font: 11px Arial, sans-serif;
}

ul.pitch_info li { 
	margin-top: 0;
}

.pitch_name {
	background: url(/img/pitch-name-bg_new.png) left no-repeat;
	margin-left: -11px;
}

.social_share .favourites {
	background: url(/img/fav-fb-tw.gif) 0 0;
}

.social_share .facebook {
	background: url(/img/fav-fb-tw.gif) -30px 0;
}

.social_share .twitter {
	background: url(/img/fav-fb-tw.gif) -60px 0;
}

ul.social_share li {
	margin-top: -7px;
}

.tooltip {
	margin-left: -42px;
}

.gogo {
	display: block;
	background: url(/img/gogo.gif) no-repeat;
	left: 479px;
	text-decoration: none;
	padding-top: 15px;
}

.gogo span {
	font: 32px RodeoC;
	color: white;
	text-transform: uppercase;
	text-shadow: #444756 -1px -1px 0;
}

.gogo:hover span {
	color: #3d404d;
	text-shadow: 0px -1px 1px #4d6f82, 0px 1px 1px #89aaba;
}


.gogo i {
	font: italic 17px Georgia, serif;
	color: #4f5f70;
	text-transform: lowercase;
	position: relative;
	top: -2px;
}     

.other-nav-right img {
	 background: url(/img/give-solution.gif) 0 0;
}

.other-nav-right:hover img {
	 background: url(/img/give-solution.gif) 0 -36px;
}

.menu {
	margin-left: 0;
	margin-right: 0;
	width: 204px;
}

.menu ul li {
	display: inline-block;
	width: 103px;
	margin-left: -3px;
}


.look-variants {
	margin-bottom: 10px;
}

#like a{
	/*display:none;*/
}
#like a:hover{
	/*display:none;*/
}

.solution_menu_list li {
	height:20px;
	display: block;
	color: #999999;
}

.client-link {
    color: #ffffff;
    text-decoration:none;
}
.client-link:hover {
    color: #648fa4;
}
.client-linknew {
    font:14px/20px "Arial",sans-serif;
    color: #658FA5;
    text-decoration:none;
    text-shadow:-1px 0 0 #FFFFFF;
    font-weight: bold;
}
.client-linknew:hover {
    color: #6f9cb4;
}
.pitch-info-text {
    font:14px/20px "Arial",sans-serif;
    color: #666666;
    text-decoration:none;
    text-shadow:-1px 0 0 #FFFFFF;
    font-weight: bold;
}
#sharebar {
    position: absolute;
    width: 282px;
    padding: 0 0 4px 0 !important;
    background: url(/img/tooltip-bg-bootom-stripe.png) 100% 100% no-repeat !important;
    z-index: 999;
}
#tooltip .url {
    display: none !important;
}

.tooltip-wrap {
    padding: 39px 10px 22px 16px;
    background: url(/img/tooltip-top-bg.png) no-repeat;
}
#tooltip h3 {
    font: 13px Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
}

#tooltip.viewport-bottom {
    padding: 4px 0 0 0 !important;
    background: url(/img/tooltip-bg-top-stripe.png) 0 0 no-repeat !important;
}
.viewport-bottom .tooltip-wrap {
    padding: 13px 10px 39px 16px;
    background: url(/img/tooltip-bottom-bg.png) 100% 100% no-repeat;
}
.breadcrumbs-view {
    font: 17px "RodeoC", serif;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}
.pitch-info-table {
    width:100%;
    border:1px;
}
body.pitches_upload .pitch-info-table,
body.pitches_upload #pitch-title {
	margin-left: 23px;
}
a.all-pitches-link {
	display: inline-block;
	width: 106px;
	height: 39px;
	margin-right: 20px;
	background-image: url(/img/all_pitches.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
a.all-pitches-link:hover {
	background-image: url(/img/all_pitches_2.png);
}
a.fav-plus {
	display: inline-block;
	width: 160px;
	height: 39px;
	margin-right: 20px;
	background-image: url(/img/follow_the_pitch.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
a.fav-plus:hover {
	background-image: url(/img/follow_the_pitch_hover.png);
}
a.fav-minus {
    display: inline-block;
    width: 160px;
    height: 39px;
    margin-right: 20px;
    background-image: url(/img/stop_follow.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}
a.fav-minus:hover {
    background-image: url(/img/stop_follow_hover.png);
}
a.print-link {
	display: inline-block;
    width: 144px;
    height: 37px;
    margin-right: 20px;
    background-image: url(/img/print_brief_button.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}
a.print-link:hover {
	background-image: url(/img/print_brief_button2.png);
}
a.next-pitch-link {
	display: inline-block;
    width: 151px;
    height: 39px;
    margin-right: 20px;
    background-image: url(/img/next.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}
a.next-pitch-link:hover {
	background-image: url(/img/next_2.png);
}

.SideBarRight {width:200px; position:absolute; right:0px; top:85px; z-index:1000;margin-right: 20px;}
.SideBarRight .zagol {font-size:18px; padding:10px;}
.SideBarRight .batton { background: url('/img/pointerBatton.png')  no-repeat top; height:50px; padding-top:44px;}
.SideBarRight .batton:hover {background: url('/img/pointerBattonRed.png') no-repeat top; font-weight:bold;}

.SideBarRight .pitchs {width:170px; height:72px; margin:0; padding-left:7px;}
.SideBarRight .pitchs.hover { background-color:#6b92a2 !important; }
.SideBarRight .pitchs.hover p {color:#FFF !important;}
.SideBarRight .pitchs.grey {background-color:#45464f;}
.SideBarRight .pitchs.black {background-color:#2f313a;}
.SideBarRight .pitchs p.data,p.info { color:#999999;}
.SideBarRight .pitchs p.cost { color:#658fa5;}

.SideBarRight div.files { width:170px; height:150px; background: url('/img/files.png') no-repeat top; padding-top:80px; font-size:18px; text-align:center}
.SideBarRight div.files p:hover {  font-weight:bold;}

.gogo { width:424px; height:91px; background:url(/img/gogo.png) no-repeat; position: relative ; left:485px; clear:both; text-align:center; padding-top:10px;}
.gogo p { margin-bottom:10px;}
.gogo a {text-decoration: none;}
.gogo a.idea { font-size:17px; color:#444756;}
.gogo a.go { font:32px RodeoC; color:#FFF; text-shadow: -1px -1px 0 #444756;}
.gogo a.go:hover { text-decoration: underline}

.button.add_solution {
    font-family: Arial, sans-serif;
    color: #fff;
    display: block;
    float: right;
    margin-right: 20px;
    margin-top: -45px;
    width: 155px;
}
.button.add_solution:hover {
	color: #fff;
}
