.idea
.DS_STORE
.buildpath
.project
.settings
app/resources/tmp/*
session/*
app/webroot/avatars/*
app/webroot/files/*
app/webroot/solutions/*
app/webroot/js/minified/*
app/libraries/MPDF54/MPDF54/tmp/*
app/webroot/????????????????????????????????.css
