.idea
.DS_STORE
.buildpath
.project
.settings
node_modules/*
app/resources/tmp/*
session/*
node_modules/*
app/webroot/js/app.js
app/webroot/js/pitches/create.js
app/webroot/js/pitches/brief.js
app/webroot/js/pitches/view.js
app/webroot/js/pitches/viewsolution.js
app/webroot/js/pitches/subscribed_brief.js
app/webroot/js/pitches/classes/SubscribedCart.js
app/webroot/js/subscription_plans/FundBalanceInput.js
app/webroot/js/pitches/classes/*
app/resources/tmp/*
session/*
app/webroot/avatars/*
app/webroot/files/*
app/webroot/events/*
app/webroot/pitchfiles/*
app/webroot/solutions/*
app/webroot/js/posts/save.js
app/webroot/js/users/office.js
app/webroot/js/users/subscriber/*
app/webroot/js/users/subscriber/NewProjectBox.js
app/webroot/js/users/subscriber/ProjectSearchBar.js
app/webroot/js/users/subscriber/ProjectSearchResultsTable.js
app/webroot/js/users/subscriber/ProjectSearchResultsTableRow.js
app/webroot/js/users/subscriber.js
app/webroot/js/pitches/index.js
app/webroot/js/users/subscriber.js
app/webroot/js/users/subscriber/BalanceBox.js
app/webroot/js/solutions/solutions.js
app/webroot/js/minified/*
app/webroot/css/minified/*
app/libraries/MPDF54/MPDF54/tmp/*
app/webroot/????????????????????????????????.css
app/config/bootstrap/connections.php
dump.rdb
app/webroot/js/.module-cache/*
app/webroot/js/tableloader.js
app/webroot/js/help/*
app/webroot/js/pitches/plot.js
app/webroot/js/common/receipt/Receipt.js
app/webroot/js/pitches/ProjectRewardInput.js