.idea
.DS_STORE
.buildpath
.project
.settings
node_modules/*
app/resources/tmp/*
session/*
node_modules/*
app/webroot/minified/*
app/webroot/sitemap.xml
app/webroot/js/app.js
app/webroot/js/pitches/create.js
app/webroot/js/pitches/brief.js
app/webroot/js/pitches/view.js
app/webroot/js/pitches/viewsolution.js
app/webroot/js/pitches/subscribed_brief.js
app/webroot/js/pitches/classes/SubscribedCart.js
app/webroot/js/subscription_plans/FundBalanceInput.js
app/webroot/js/pitches/classes/*
app/resources/tmp/*
session/*
app/webroot/avatars/*
app/webroot/files/*
app/webroot/events/*
app/webroot/pitchfiles/*
app/webroot/solutions/*
app/webroot/js/posts/save.js
app/webroot/js/posts/index.js
app/webroot/js/users/office.js
app/webroot/js/users/subscriber/*
app/webroot/js/users/subscriber/NewProjectBox.js
app/webroot/js/users/subscriber/ProjectSearchBar.js
app/webroot/js/users/subscriber/ProjectSearchResultsTable.js
app/webroot/js/users/subscriber/ProjectSearchResultsTableRow.js
app/webroot/js/users/subscriber.js
app/webroot/js/pitches/index.js
app/webroot/js/users/subscriber.js
app/webroot/js/users/subscriber/BalanceBox.js
app/webroot/js/solutions/solutions.js
app/webroot/js/minified/*
app/webroot/css/minified/*
app/libraries/MPDF54/MPDF54/tmp/*
app/webroot/????????????????????????????????.css
app/config/bootstrap/connections.php
dump.rdb
app/webroot/js/.module-cache/*
app/webroot/js/tableloader.js
app/webroot/js/help/*
app/webroot/js/pitches/plot.js
app/webroot/js/common/receipt/Receipt.js
app/webroot/js/pitches/ProjectRewardInput.js
app/webroot/js/posts/index/BlogPostEntryBox.js
app/webroot/js/pitches/edit.js
app/webroot/js/pitches/penalty.js
app/webroot/js/users/mypitches_loader.js
app/webroot/js/pitches/actions/CommentsActions.js
app/webroot/js/pitches/components/UserAutosuggest.js
app/webroot/js/users/step1.js
app/webroot/js/users/step2.js
app/webroot/js/pitches/gallery.js
app/webroot/js/users/mypitches_loader.js
app/webroot/js/pages/main.js
app/webroot/js/solutions/logosale.js
app/webroot/dist/*
app/webroot/js/common/solutions/CopywritingSolution.js
app/webroot/js/common/pushWidget/*
app/webroot/js/common/pushWidget/PushWidget.js
app/webroot/js/common/pushWidget/PushWidgetActions.js
app/webroot/js/bootstrap/bootstrap-datetimepicker.min.js
app/webroot/js/bootstrap/bootstrap.min.js
app/webroot/js/common/BaseComponent.js
app/webroot/js/common/comments/UserAutosuggest.js
app/webroot/js/common/receipt/ReceiptLine.js
app/webroot/js/common/receipt/ReceiptTotal.js
app/webroot/js/common/solutions/CopywritingView.js
app/webroot/js/common/toppanel/TopPanelContainer.js
app/webroot/js/jquery-plugins/jquery.history.js
app/webroot/js/jquery-plugins/jquery.scrollto.min.js
app/webroot/js/jquery-plugins/jquery.simplemodal-1.4.2.js
app/webroot/js/jquery/jquery-1.9.1.min.js
app/webroot/js/jquery/jquery-migrate-1.1.0.min.js
app/webroot/js/posts/view.js
app/webroot/js/subscription_plans/PhoneNumberInput.js
app/webroot/js/subscription_plans/subscriber.js
app/webroot/js/users/office/PushNotificationsStatus.js
app/webroot/js/users/office/SmsNotificationsStatus.js
app/webroot/js/jquery-plugins/jquery.numeric.min.js
app/webroot/js/jquery-plugins/slides.min.jquery.js
app/webroot/js/mixins/SetIntervalMixin.js
app/webroot/js/pages/components/CountdownTimer.js
app/webroot/js/pages/components/MainPageProjectTable/MainPageProjectTable.js
app/webroot/js/users/office/ProfSelectBox.js
app/webroot/js/users/office/ProfRadioList.js

app/webroot/js/users/news/DesignNewsRow.js
app/webroot/js/users/news/DesignNews.js
app/webroot/js/subscription_plans/paymentSystems/PaymentTypesList.js
app/webroot/js/subscription_plans/paymentSystems/PaymentSeparator.js
app/webroot/js/subscription_plans/paymentSystems/PaymentPaymasterPaySystem.js
app/webroot/js/subscription_plans/paymentSystems/PaymentPaymaster.js
app/webroot/js/subscription_plans/paymentSystems/PaymentAdmin.js
app/webroot/js/subscription_plans/paymentSystems/BasePaymentSystem.js
app/webroot/js/solutions/logosale.js
app/webroot/js/polyfills/fetch.js
app/webroot/js/polyfills/browser-polyfill.min.js
app/webroot/js/pitches/components/ProjectTypesRadioWrapper.js
app/webroot/js/pitches/components/ProjectTypesRadio.js
app/webroot/js/pages/home/ClientsLogosShowcase.js
app/webroot/js/pages/home/ClientLogo.js
app/webroot/js/components.js
app/webroot/js/pages/golden-fish.js
app/webroot/js/subscription_plans/subscriber.js
app/webroot/js/pages/fastpitch.js
app/webroot/js/pages/howitworks.js
app/webroot/js/pages/home.js
app/webroot/js/pitches/upload.js
.vs/*
.vs/GoDesigner/v14/.suo
GoDesigner.phpproj
GoDesigner.sln
libraries/*
app/webroot/js/users/mypitches/ManagerRow.js
app/webroot/js/users/mypitches/ManagersProjects.js
app/webroot/js/users/mypitches/ManagersProjectsRow.js
app/webroot/js/users/mypitches/ProjectListItem.js
.php_cs.cache
app/webroot/js/users/feed.js
app/webroot/js/users/hireDesigner.js