.project-search-table {
    width: 836px;
    margin: 17px 0 0 0;
    background: #45464f;
}
.project-search-table td {
    vertical-align: middle;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #999999;
    text-transform: uppercase;
    border-right: #575864 1px solid;
}
.project-search-table thead tr {
    height: 36px;
}
.project-search-table thead td {
    font-family: OfficinaSansC Book, serif;
    font-size: 12px;
    text-transform: uppercase;
}
.project-search-table tr {
    height: 84px;
}
.project-search-table td.td-title {
    padding-left: 45px;
    padding-right: 12px;
    padding-top: 15px;
    text-align: left;
    vertical-align: top;
    color: #ffffff;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: 15px;
    text-transform: none;
}
.project-search-table td.price {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
}
.project-search-table td.td-title a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    line-height: 19px;
}
.project-search-table tr.light {
    background-color: #868686;
}
.project-search-table .light .td-title {
    color: #e3e3e3;
}
.project-search-table .light td {
    border-right: 0;
}