.multiclass {
    background: url(/img/fon_multy2.jpg) no-repeat 2px 0;
    width:199px;
    margin-left:4px;
    vertical-align:top;
    margin-top:30px;
    margin-bottom:5px;
    padding-top:7px;
    padding-right:10px;
}
.multiclass .photo_opt {
    padding-top: 0;
    margin-top: 144px;
}
.photo_block{
    background:#fff;
    padding:9px 10px 6px 10px;
    position:relative;
    border-bottom:1px solid #d2d2d2;
    min-height:162px;
}
.rating_block{
    padding-top:5px;
    vertical-align:top;
}
.like_view{
    margin-left:10px;
}
.like_view span{
    color:#cdcccc;
    font-size:10px;
    vertical-align:middle;
    margin-right:8px;
}
.like_view img{
    margin-right:4px;
}
.like_view img.icon_looked{
    vertical-align:middle;
}
.bottom_arrow{
    float:right;
    padding-top:1px;
}
.selecting_numb{
    overflow:hidden;
    clear:both;
    padding-top:6px;
    padding-bottom:8px;
}
.number_img{
    float:right;
    font-weight:bold;
    font-size:13px;
}
a.portfolio_gallery_username{
    float:left;
    font-weight:bold;
    font-size:14px;
    color: #666666;
    text-decoration: none;
}
a.number_img_gallery {
    float:right;
    font-weight:bold;
    font-size:14px;
    color: #666666;
    text-decoration: none;
}