.solution_menu_list .sol_hov a:hover {
    background: #639e69;
    color: #fff;
}
.solution_menu_list {
    position:absolute;
    z-index:6;
}
.solution_menu_list .sol_hov {
    margin:0;
    width:152px;
    height:20px;
    padding:0; 
}

span.price {
    text-decoration: line-through;
    font: 14px/20px "Arial", sans-serif;
}

span.new-price {
    margin-left: 4px;
    color: #ff585d;
    font: 14px/20px "Arial", sans-serif;
}

#filtertab {
    display: none;
    border-radius: 10px;
    padding-top: 14px;
    margin-left: 25px;
    width: 617px;
    height: 406px;
    background-color: white;
    z-index: 10;
    position: absolute;
}

#goSearch {
    width: 77px;
}
#searchTerm {
    padding-bottom: 10px;
    width: 524px;
    box-shadow: none;
    line-height: 12px;
    height: 13px;
    padding-top: 7px;
    margin-left: 4px;
}

#searchTerm.placeholder {
    font: 14px/20px "Arial", sans-serif;
}

#filterContainer {
    border-radius: 4px;
    border: 4px solid rgb(243, 243, 243);
    height: 41px;
    padding-top: 10px;
    background-color: white;
    width: 618px;
    margin-left: 25px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset;
}

.filterBackground {
    margin: 27px auto 0;
    height: 75px;
    padding-top: 15px;
    background-color: rgb(243, 243, 243);
    width: 834px;
}

h1.sale-head {
    font-size: 28px;
    font-family: "RodeoC", sans-serif;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
}
ul.marsh {
    margin: 53px auto;
}
ul.marsh h2 {
    text-transform: none;
    text-align: left;
    padding: 0 0 3px 30px;
}
ul.marsh li {
    float: left;
    width: 32%;
    padding: 0 0 20px;
    background: url("img/images/tick.gif") no-repeat 3px 0;
}

.multiclass {
    background: url(/img/fon_multy2.jpg) no-repeat 2px 0;
}

li.multiclass .photo_opt {
    padding-top: 0px;
    margin-top: 144px;
}

ul.list_portfolio li {
    display: inline-block !important;
}

ul.marsh .clear {
    margin-left: 20px;
}

.image-count {
    z-index: 2;
    position: absolute;
    color: rgb(102, 102, 102);
    font-weight: bold;
    font-size: 14px;
    padding-top: 7px;
    height: 16px;
    top: -34px;
    text-align: right;
    width: 18px;
    padding-right: 21px;
    background: url(/img/multi-icon.png) no-repeat scroll 22px 5px transparent;
    left: 169px;
}

.solution-sale .solution-title {
    background: linear-gradient(#F0EFED, #DFDFDC) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.solution-sale .solution-title a,
.solution-sale .solution-title h1 {
    color: #606060;
}
.solution-sale .solution-title h1 .price,
.solution-sale .solution-title h1 .new-price {
    font-size: 17px;
    font-family: Arial,sans-serif;
    font-weight: bold;
}

.solution-sale #P_card {
    padding-left: 40px;
    width: 650px;
}
#P_card input.button {
    float: none !important;
    margin: 10px 19px 0 !important;
}

.solution-sale #step3 {
    position: relative;
}

.solution-sale #step3 h1 {
    margin-left: 150px;
    text-align: left;
}

.solution-sale #step3 .g_line.first {
    width: 674px;
}

#paybutton-payanyway {
    background: linear-gradient(#658fa5, #537587) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 4px solid #cecece;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    height: 47px;
    line-height: 41px;
    padding: 0 30px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    display: none;
}

ul.tags li a {
    color: #555;
}

ul.tags li a:hover {
    text-decoration: underline;
}

.groupc.first {
    margin-top: 36px;
}
.groupc {
    padding-bottom: 10px;
    margin-bottom: 2px;
    margin-left: 11px;
}
.groupc > p {
    margin-bottom: 20px;
}
.groupc > p > label:first-child {
    font: bold 17px/1 "RodeoC", sans-serif;
    display: block;
    color: #666;
    text-shadow: 0 1px 1px #FFFFFF;
    padding-left: 2px;
    margin-bottom: 8px;
    cursor: default;
}
.groupc label .second {
    color: #f66;
    text-decoration: none;
    font-weight: normal;
}
.groupc label .second:hover {
    color: #658fa5;
}

.container-adv_search {
    position: relative;
}

#adv_search {
    position: absolute;
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #999;
    right: 21px;
    top: 4px;
    padding: 4px 20px 4px 20px;
    outline: none;
}

#adv_search:hover {
    text-decoration: underline;
}

.sale-str.regular {
    font-size: 15px;
    text-align: center;
    margin-top: 19px;
}

#adv_search.active {
    color: #959595;
    background: #d6d6d6;
    border-radius: 4px;
    border-top: 1px solid #b1b1b1;
    border-left: 1px solid #b1b1b1;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    text-shadow: -1px 0 0 #ffffff;
}

#groups {
    display: none;
}
#not-found-container {
    display: none;
}
p.label_found {
    color: #959595;
    text-shadow: -1px 0 0 #ffffff;
    font-size: 13px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 18px;
}
.not-found-background {
    background: url(/img/logo_sale_search.jpg) no-repeat;
    width: 687px;
    height: 985px;
    margin: 14px auto;
    
}
#search_result {
    display: none;
}

.filterlist {
    float:left;
    width:176px;
    margin-left:16px;
    text-transform: none;
    height: 200px;
    margin-top: 12px;
}

.filterlist li {
    color: #555555;
    font-weight: bold;
    height: 23px;
    padding-left: 15px;
    padding-right: 15px;

}
ul.bottom {
    float: none;
    margin-top: 0;
    width: 27%;
    height: auto;
    display: inline-block; 
}
ul.bottom.list2 {
    margin-left: 49px;
}
/*ul.bottom li {
    width: 27%;
    display: inline-block; 
}*/

.activityType {
    width: 200px;
}

.activityType li {
    width: 196px;
}
.activityType.twoCollumn {
    width: 165px;
}
.activityType.twoCollumn li {
    width: 144px;
}
span.first {
    display: block;
    color: #555555;
    font-weight: bold;
    height: 23px;
    margin-top: 28px;
    padding-left: 30px;
    padding-right: 15px;
}
.summary-price {
    position: fixed;
/*    margin-left: 0;
    left: 15%;*/
    top:auto;
}
#to-pay {
    background: url(/img/bottom_arrow.png) no-repeat 0 100%;
    background-position: right;
    display: block;
    height: 18px;
    padding-right: 20px;
    text-align: right;
    cursor: pointer;
}