.main_page_content{width:958px;margin:0 auto;background: url(/img/common/backgrounds/paper.jpg) left top;padding:31px 0 0;zoom:1}
.main_page_content:after {content: '.';display: block;clear:both;visibility: hidden;height:0;font-size:0;}
.front_catalog{padding:0 0 20px;margin:0 0 26px 53px;overflow:hidden;zoom:1;background: url(/img/sep.png) no-repeat left bottom;}
.front_catalog li{float:left;list-style-type:none;margin:0 0 0 13px;border:6px solid #cdcdcd;position:relative}


.take:hover{background: url(/img/arrows.png) no-repeat left bottom;}
.slide{position:relative}
.b_img_slide{position:absolute;left:88px;top:0px;}
.s_img_slide{position:absolute;left:91px;top:218px;}
.more_info{position:absolute;display:none;background: url(/img/banner_onpress.png) left top;position:absolute;left:0;top:0;right:0;bottom:0;color:#8f9198;font:10px arial;text-transform:uppercase;text-decoration:none;}
.more_info:hover {text-transform:uppercase; color:#8f9198;text-decoration:none;}
.more_info p {padding:0 0 11px 20px}
.more_info span{font-size:28px;}
.more_info p:first-child{padding-top:78px}
/*.front_catalog li:hover .more_info{display:block;cursor:pointer}*/
.take_fill_block{margin:0 -12px 24px -12px;overflow:hidden;zoom:1;padding:0;}
.take{background: url(/img/arrows.png) no-repeat left top;width:362px;height:86px;padding:15px 0 0 122px;float:left;}
.take:hover{background: url(/img/arrows.png) no-repeat left bottom;}
.take a{font: 32px RodeoC;color:#fff;text-transform:uppercase;text-shadow:#444756 -1px -1px 0;text-decoration: none; margin-left:18px}
.take span{font:17px georgia;color:#4f5f70;font-style:italic;position:relative;top:-2px}
.take:hover span{color:#be2f2f;}

.fill{background: url(/img/arrows.png) no-repeat right bottom;width:377px;height:86px;padding:15px 107px 0 0;float:right;text-align:right}
.fill:hover{background: url(/img/arrows.png) no-repeat right top;}
.fill a{font: 32px RodeoC;color:#fff;text-transform:uppercase;text-shadow:#cc3333 -1px -1px 0;text-decoration:none;margin-right:32px}
.fill span{font:17px georgia;color:#be2f2f;font-style:italic;position:relative;top:-2px;}
.fill:hover span{color:#4f5f70}
.fill:hover a,.take:hover a{text-decoration:underline; text-shadow:#444756 -1px -1px 0;}
.fill:hover,.take:hover {cursor:pointer}

.to_use{float:left;margin:11px 0 0 61px;width:277px}
.to_use:hover{color:#ff585d}
.to_use a {
    font: 28px RodeoC;color:#666666;
    text-shadow:#fff -1px 0 0;line-height:1.2;text-transform:uppercase;
    text-decoration: none;
}
.to_use a.hover {
    color:#ff585d;
}
.to_use a:hover {
    color:#ff585d;
}
 a.more{font:11px arial;text-decoration:none;color:#999999;text-shadow:none;padding:2px 24px 4px 1px;background: url(/img/a.png) no-repeat right top;text-transform:uppercase}
 a.more:hover{color:#666666;background: url(/img/a.png) no-repeat right -40px;}
 .hover.more {
     color:#666666;background: url(/img/a.png) no-repeat right -40px;
 }





 .use_table{overflow:hidden;zoom:1;padding:0 0 12px;background: url(/img/sep.png) no-repeat 62px bottom;margin:0 0 24px}
.wap_table{float:right;width:555px;margin:0 52px 0 0;}
.wap_table a.more{float:right}
.spec_table{background:#2f313a;color:#fff;font: 15px Arial; font-weight:bold;text-align:center;width:100%;margin:0 0 12px}

.spec_table td{border-left:1px solid #4c4d57;padding-top:10px;padding-bottom:10px;padding-left:5px;padding-right:5px;vertical-align:top; height:70px;}
.spec_table tr td:first-child{border:none;text-align:left;padding-left:15px;text-transform:uppercase}
.spec_table th{padding-left:5px;padding-right:5px;border-left:1px solid #4c4d57;font-size:15px;color:#6a6c7b;background:#2f313a;font-weight:normal;padding-top:8px;padding-bottom:10px;text-transform:uppercase}
.spec_table tr th:first-child{border:none;text-align:left;padding-left:15px}
.spec_table a:hover {text-decoration: underline;}
.price_th{width:100px;}
.idea_th{width:68px;}
.term_th{width:115px;}
.spec_table span{color:#999999;font:11px arial}
.odd{background:#454650;height: 70px;}
.event{height: 70px;}
.spec_table tr:hover{background:#54555d}

.experts-main{padding:0 0 12px; padding-bottom: 33px; overflow:hidden;zoom:1;}
.experts-main ul{float:left;width:600px;padding:0;margin:0 0 0 60px}
.experts-main li{float:left;list-style-type:none;margin:0 14px 0 0;width:186px;font:13px arial;color:#a1a1a1}
.experts-main li p{color:#666666;;font: 17px RodeoC;padding:0 0 7px 3px;text-shadow: -1px 0 0 #FFFFFF; margin-top: 11px;}
.experts-main li span{padding:0 0 0 3px;display:block;text-shadow: -1px 0 0 #FFFFFF; color: #666666; font-family: OfficinaSansC Book, serif; font-size: 16px; line-height: 19px;}
.experts-main li img{border:6px solid #cecece;margin:0 0 6px}
.about_ex{float:left;width:270px;}
.experts_text.hover{color:#ff585d}
.experts_text{margin-top:-4px;padding-bottom:0px;color:#666666;font: 28px RodeoC;text-transform:uppercase;text-shadow:#fff -1px 0 0;text-decoration: none;}
.experts-main p a{color:#666;text-decoration:none}
.experts_text:hover {color:#ff585d;text-decoration:none}



.statistika{width:980px;height:145px; background-color: #b2b2b2; margin-left:-12px;margin-bottom:15px}
.statistika dl{float:left;font:11px arial;color:#e1e1e1;text-transform:uppercase;padding-top:35px}
.statistika dt{font-size:30px;color:#f9f9f9;padding-bottom:2px;text-shadow:#a4a4a4 -1px -1px 0; pointer-events: none;}
.dl_1{margin:0 0 0 75px;width:140px;}
.dl_2{width:160px;}
.dl_3{width:211px;}
.dl_4{width:218px;}
.dl_5{width:150px;}

.bottom_menu{padding:0 0 67px 66px;overflow:hidden;zoom:1;background: url(/img/ul.jpg) no-repeat left bottom;}
.bottom_menu li{float:left;margin:0 7px 0 0;color:#666666;font:12px RodeoC;}
.bottom_menu a{color:#666666;font:12px RodeoC;margin:0 5px 0 0;text-decoration:none}
.bottom_menu a:hover{color:#ff585d}

.logos{padding:0 0 30px 61px;margin:30px 0 43px 0; background: url(/img/sep.png) no-repeat 62px bottom;overflow:hidden;zoom:1}
.logos li{height:72px;float:left;list-style-type:none;margin:0 26px 0 0}
.tutdesign {padding-top:19px;}
.yota {}
.clodo {padding-top:11px}
.brands {}
.surfin {padding-top:7px;}
.zucker {padding-top: 6px;}
.logolast {margin-right:0;}

.pitches-name.mainpage {
    width: 270px;
}
#to_use_link {float:left;}
.new_more {color: #999999; background: none; font-size: 12px; text-transform: uppercase; font-family: OfficinaSansC Book, serif}
.new_more:hover {color: #666666}
.logosale {
    display: block;
    background-image: url(/img/main/logosale_bg.png);
    background-size: 958px 360px;
    width: 958px;
    height: 360px;
    margin-bottom: 34px;
}
.logosale_content {
    padding-top: 100px;
    margin-left: 72px;
}
.logosale_content h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 34px;
    font-family: RodeoC, serif;
    font-weight: bold;
    text-transform: uppercase;
}
.logosale_content p {
    font-size: 15px;
    line-height: 22px;
    font-family: Arial;
    font-weight: bold;
    color: #777a8c;
    text-transform: uppercase;
    margin-top: 24px;
}
.logosale_content .highlight {
    color: #cbcddb;
}
.logosale_search-block {
    margin-top: 33px;
}
.logosale_search-block input {
    width: 450px;
    height: 46px;
    color: #2a2b32!important;
    font-size: 16px;
    padding-left: 14px;
    font-family: OfficinaSansC Book, serif;
    float: left;
}
.logosale_search-block .button {
    width: 144px;
    height: 43px;
    margin-top: 0;
    padding-top: 3px;
    padding-left: 0;
    padding-right: 0;
    margin-left:15px;
}
.clean-style-button {
    border: 0!important;
    border-radius: 0!important;
}
.regular_officina {
    font-size: 16px;
    font-family: OfficinaSansC Book, serif;
}