@font-face {
    font-family: 'OfficinaSansC Bold';
    src: url('fonts/officinasansboldc.eot');
    src: url('fonts/officinasansboldc.eot') format('embedded-opentype'),
        url('fonts/officinasansboldc.woff2') format('woff2'),
        url('fonts/officinasansboldc.woff') format('woff'),
        url('fonts/officinasansboldc.ttf') format('truetype'),
        url('fonts/officinasansboldc.svg#OfficinaSansBoldCRegular') format('svg');
}

@font-face {
    font-family: 'OfficinaSansC Book';
    src: url('fonts/officinasansbookc.eot');
    src: url('fonts/officinasansbookc.eot') format('embedded-opentype'),
        url('fonts/officinasansbookc.woff2') format('woff2'),
        url('fonts/officinasansbookc.woff') format('woff'),
        url('fonts/officinasansbookc.ttf') format('truetype'),
        url('fonts/officinasansbookc.svg#OfficinaSansBookCRegular') format('svg');
}


@media screen and (min-width: 960px) {
    #l-sidebar-office {
        display: none;
    }

    .new-content {
        width:958px;
    }
    /*    .onTopMiddle {
            right: 405px !important;
        }*/
}

@media screen and (max-width: 960px) {
    #l-sidebar-office {
        display: none;
    }

    .new-content {
        width:958px;
    }
}

@media screen and (min-width: 1280px) {
    #l-sidebar-office {
        display: block;
    }

    .new-content {
        width: 1260px !important;
    }
    #center_sidebar {
        margin-left: 328px;
    }
}

@media screen and (min-width: 1400px) {
    #l-sidebar-office {
        display: block;
    }

    .new-content {
        width: 1270px !important;
    }
    #center_sidebar {
        margin-left: 334px;
    }
}


#r-sidebar-office > div {
    margin-top: 32px;
}
#r-sidebar-office {
    width: 310px;
    float: right;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
}
#l-sidebar-office {
    width: 312px;
    float: left;
}

#l-sidebar-office .solutions-block {
    background: #fff;
    width: 310px;
    color: #2d2d2d;
    font-family: OfficinaSansC Bold, serif;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 25px;
}
#l-sidebar-office .solutions-block .solution-info {
    position: relative;
}
#l-sidebar-office .solutions-block .creator-name a {
    color: #2d2d2d;
}

#l-sidebar-office .solutions-block img {
    max-width: 310px;
}

#l-sidebar-office .solutions-block > div {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 7px 10px 18px;
    width: 310px;
}

.like-small-icon {
    background: url("img/fb_like.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    color: #999999;
    margin-left: 70px;
    font: 14px OfficinaSansC Book, serif !important;
    padding: 0 0 0 20px;
    text-decoration: none;
}
.like-small-icon:hover, .like-small-icon:active {
    background-position: 0 -20px;
    color: #648fa4;
}
.like-small-icon span {
    margin-left: 5px;
}
#l-sidebar-office .solutions-block .creator-name {
    display: inline-block;
    width: 110px;
}

#l-sidebar-office .solutions-block .ratingcont {
    margin-top: 5px;
}

#center_sidebar {
    width: 600px;
}

.rs-header {
    background: #2f313a;
    color: #fff;
    padding: 25px 0 25px 20px;
    font-family: OfficinaSansC Bold, serif;
    font-size: 17px;
}

#container-job-designers {
    background: #fff;
    margin-top: 0 !important;
    font-size: 16px;
    line-height: 23px;
    font-family: OfficinaSansC Book, serif;
}
#container-job-designers a {
    color: #C8C8C8;
}
#container-job-designers .job {
    padding: 22px 15px 18px 25px;
    color: #2D2D2D;
}
#container-job-designers .sp {
    border-bottom: 1px solid #e8e4e5;
    width:85%;
    margin-left: 18px;
}

#container-job-designers .tag {
    color: #F86362;
}

#container-new-pitches .rs-header {
    border-bottom:1px solid #383943;
}

#container-new-pitches .new-pitches {
    color: #fff;
    background: #2f313a;
}
#container-new-pitches .new-pitches a {
    color: #fff;
}

#container-new-pitches .new-pitches a:hover {
    color: #fff;
    text-decoration: underline;
}

#container-new-pitches .new-price,
#container-new-pitches .new-title {
    font-family: OfficinaSansC Bold, serif;
    display:inline-block;
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    padding: 28px 5px 25px 0;
    line-height: 23px;
}

#container-new-pitches .new-pitches .new-price {
    width: 92px;
    text-align: center;
}

#container-new-pitches .new-pitches:nth-of-type(odd) {
    background: #45464f;
}

#container-design-news .rs-header {
    background: #F95A59;
}

#container-design-news .design-news {
    background: #fff;
    border-bottom: 1px solid #e8e4e5;
    font-size: 16px;
    font-family: OfficinaSansC Bold, serif;
    color: #2d2d2d;
    padding: 28px 15px 18px 20px;
    line-height: 23px;
}

#container-design-news .design-news a {
    color: #2d2d2d;
}

#container-design-news .design-news .clicks {
    color: #f86362;
    font-family: OfficinaSansC Book, serif;
    font-weight: normal;
}

#container-design-news .design-news .url-twitter {
    color: #c8c8c8;
}

.center-boxes {
    font-size: 16px;
    line-height: 23px;
    font-family: OfficinaSansC Book, serif;
}

.center-boxes .box {
    margin-bottom: 17px;
    background: #fff;
    color: #2d2d2d;
    border: #e3e4e5 1px solid;
}

.center-boxes .box .l-img {
    width: 40px;
}

.center-boxes .box .r-content {
    padding: 16px 5px 20px 20px;
    vertical-align: top;
    width: 99%;
}

.center-boxes .box .post-content {
    padding: 16px 5px 0 20px;
}

.center-boxes .box .rat {
    display: block;
    margin-top: 13px;
    margin-bottom: 32px;
}

.center-boxes .box .img-rate {
    width: 176px;
    height: 126px;
}

.center-boxes .box div {
    display: table-cell;
}

.center-boxes .box p.img-box {
    overflow: hidden;
    max-height: 420px;
}

.center-boxes .box p.timeago {
    color: #c8c8c8;
    font-style: italic;
    display: block;
    margin: 10px 0;
}

.center-boxes .box img.img-post {
    height: auto;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}

.center-boxes .box a.post-link {
    position: relative
}

.center-boxes .box p.img-tag {
    position: absolute;
    height: 32px;
    width: 193px;
    position: absolute;
    margin-left: 200px;
    margin-top: -17px;
    padding-top: 8px;
    text-align: center;
    line-height: 1;
    background: url(/img/for_designers.png) no-repeat;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: OfficinaSansC Bold, serif;
}

.center-boxes .box .likes > div {
    display: block;
    border-bottom: 1px solid #e8e4e5;
    padding: 7px 3px 7px 22px;
    width: 575px;
}

.center-boxes .box .likes span {
    display: table-cell;
    vertical-align:middle;
    padding-left: 12px;
}

.center-boxes .box a {
    color: #f86362;
}

.new-middle_inner {
    margin-top: -89px;
    /*    padding: 66px 34px 20px 63px;*/
    position: relative;
}
.new-content {
    width:960px;
    /*    padding: 66px 34px 20px 63px;*/
    margin: 70px auto;
}
.new-wrapper {
    background: url("img/main_bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-bottom: 30px;
}

.new-wrapper .button, .reqbutton {
    background: linear-gradient(#658fa5, #537587) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 4px solid #cecece;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    height: 41px;
    line-height: 41px;
    padding: 0 30px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

.new-wrapper .button.third {
    background: linear-gradient(#64a470, #51895c) repeat scroll 0 0 rgba(0, 0, 0, 0);
    outline: medium none;
}
.wrapper .button.third:hover {
    background: #51895C;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#51895C), to(#e95151));
    background: -webkit-linear-gradient(#51895C, #64A470);
    background:    -moz-linear-gradient(#51895C, #64A470);
    background:     -ms-linear-gradient(#51895C, #64A470);
    background:      -o-linear-gradient(#51895C, #64A470);
    background:         linear-gradient(#51895C, #64A470);
}

.onTopMiddle { 
    right: 32.5% !important;
    bottom: -100px !important;
}

.box h2,.box a h2 {
    font-size: 18px;
    color: #2d2d2d;
    padding-top: 16px;
}
