/* Общие */
.section-header {
    font-family: OfficinaSansC Book, serif;
    font-size: 20px;
    color: #666666;
    text-shadow: 1px 0 0 #ffffff;
}
.mainblock {
    width: 100%;
}
.g_line {
    margin-bottom: 10px !important;
}
/* Базовые настройки */
a.show-preview {
    padding: 0 12px !important;
    width: 160px !important;
    right: 13px;
    position: relative;
}
.basic-info-section {
    padding-top: 26px;
}
.basic-info-section input[type=radio] {
    width: 28px !important;
    height: 14px;
    box-shadow: none !important;
    vertical-align: middle;
    margin-top: -2px;
}
#fieldblock1 label {
    font-family: OfficinaSansC Book, serif;
    font-size: 18px;
    color: #666666;
    display: block;
    float: left;
    width: 120px;
    text-align: left;
    padding-left: 10px;
}
#fieldblock1 input {
    font-family: OfficinaSansC Book, serif;
    font-size: 18px;
}
/* Реквизиты */
.user-details-section {
    min-height: 550px;
}
.user-details-table {
    width: 100%;
    margin: 75px 0 30px 0;
}
.user-details-table input[type=radio] {
    box-shadow: none;
    width:14px;
    height:14px;
}
.user-details-table .s3_text {
    width: auto;
}
.user-details-table .tooltip_plugin {
    display: inline-block;
    font: 12px Helvetica, sans-serif;
    color: #658fa5;
    position: relative;
    bottom: 1px;
}
.user-details-section #save {
    width: 220px;
    margin-top: 32px;
}
/* Уведомления */
#fieldblock4 {
    margin-top: 35px;
}
#fieldblock4 label {
    color: #999999;
    width: 378px;
    display: block;
    font-size: 18px;
    text-shadow: -1px 0 0 #FFFFFF;
    font-family: OfficinaSansC Book, serif;
    letter-spacing: -0.5px;
    text-indent: -22px;
    padding-left: 22px;
}
#fieldblock4 ul {
    float: left;
}
#fieldblock4 ul:nth-child(odd) {
    margin-right: 15px;
}
#fieldblock4 ul> li {
    margin-bottom: 10px;
}
#save-notifications {
    width: 340px;
    margin-top: 20px;
}
