/* Общие */
.section-header {
    font-family: OfficinaSansC Book, serif;
    font-size: 20px;
    color: #666666;
    text-shadow: 1px 0 0 #ffffff;
}
.mainblock {
    width: 100%;
}
.g_line {
    margin-bottom: 10px !important;
}
.clear{
    clear:both;
    height:1px;
}
/* Базовые настройки */
a.show-preview {
    padding: 0 12px !important;
    width: 160px !important;
    right: 13px;
    position: relative;
}
.basic-info-section {
    padding-top: 26px;
}
.basic-info-section input[type=radio] {
    margin-right: 10px;
    width: 14px !important;
    height: 14px;
    box-shadow: none !important;
    vertical-align: middle;
    margin-top: -2px;
}
.basic-info-section input[type=submit] {
    width: 140px;
}
#fieldblock1 div {
    text-align: left;
}
#fieldblock1 label {
    font-family: OfficinaSansC Book, serif;
    font-size: 18px;
    color: #666666;
    display: block;
    float: left;
    width: 120px;
    text-align: left;
    padding-left: 10px;
}
#fieldblock1 input {
    font-family: OfficinaSansC Book, serif;
    font-size: 18px;
    width: 364px;
}
#fieldblock1 input.short {
    width: 150px;
    margin-right: 40px;
}
#fieldblock1 .short-input-block {
    margin-bottom: 7px;
    margin-top: 44px;
}
#fieldblock1 input[name=birthdate] {
    margin-right: 0;
}
.profselectbox label {
    font-family: OfficinaSansC Book, serif;
}
/* Телефон */
.user-mobile-section {
    width: 835px;
    float: none;
}

.user-mobile-section form {
    margin-top: 23px;
    width: 470px;
}
.user-mobile-section .phone-input-container {
    position: relative;
}
.user-mobile-section .confirm-message {
    font-family: Georgia, serif;
    color: #999;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 5px;
    padding-left: 2px;
    display: none;
}
.user-mobile-section .note {
    font-family: Georgia, serif;
    font-size: 13px;
    font-style: italic;
    display: inline-block;
    width: 140px;
    float: left;
    margin-top: 12px;
    margin-left: 10px;
}
.user-mobile-section .plus {
    font-size: 18px;
    font-family: OfficinaSansC Bold, serif;
    position: absolute;
    color: #666666;
    left: -24px;
    top: 19px;
}
.user-mobile-section input[type="text"] {
    color: #b6b6b6;
    font-size: 18px;
    font-family: OfficinaSansC Book, serif;
    padding-left: 15px;
    padding-right: 15px;
    width: 370px;
}
.user-mobile-section input[name="phone_code"] {
    width: 140px;
    display: none;
    float: left;
}
.user-mobile-section #confirm-mobile {
    width: 194px;
    display: none;
    float: left;
    margin-top: 2px;
    margin-left: 36px;
}
.user-mobile-section ul {
    margin-top: 0;
    display: none;
}
.user-mobile-section ul li {
    float: left;
    font-style: italic;
    font-size: 12px;
    margin-right: 75px;
    margin-bottom: 10px;
}
.remove-number {
    padding-left: 15px;
    background: url(/img/user_settings/remove.png) 0 2px no-repeat;
}
.resend-code {
    padding-left: 30px;
    margin-right: 0 !important;
    background: url(/img/user_settings/resend.png) 0 -3px no-repeat;
}
#save-email {
    margin-top: 15px;
}
ul .number {
    display: none;
    font-style: normal !important;
    font-family: OfficinaSansC Book, serif !important;
    font-size: 18px !important;
    color: #666666 !important;
    width: 600px;
}
.user-mobile-section input[type="submit"] {
    width: 220px;
    display: block;
    float: left;
}
/* Почта */
.user-email-section {
    width: 835px;
    /*float: left;*/
}
.user-email-section a:hover {
    text-decoration: underline;
}
.user-email-section p, .user-password-section p {
    font-family: OfficinaSansC Book, serif;
    color: #999;
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 5px;
    padding-left: 2px;
}
.user-email-section input[type="email"] {
    color: #b6b6b6;
    font-size: 18px;
    font-family: OfficinaSansC Book, serif;
    padding-left: 15px;
    padding-right: 15px;
    width: 370px;
}
.user-email-section input[type="submit"] {
    width: 190px;
    display: block;
}
#email-form {
    margin-top: 10px;
}
/* Пароль */
.user-password-section {
    width: 835px;
    margin-top: 80px;
    /*float: left;
    margin-left: 35px;*/
}
.user-password-section input{
    color: #b6b6b6;
    font-size: 18px;
    font-family: OfficinaSansC Book, serif;
    padding-left: 15px;
    padding-right: 15px;
    width: 370px !important;
}
#deleteaccount {
    text-decoration: none;
    padding-left: 13px;
    background: url(/img/closerequest.png) 0 2px no-repeat;
    background-size: 8px 8px;
    font-style: italic;
    font-size: 12px;
    margin-left: 15px;
}
#deleteaccount:hover {
     text-decoration: underline;
 }
.user-password-section form {
    padding-top: 26px;
    width: 400px;
}
#save-password {
    margin-top: 15px;
    width: 186px !important;
    font-family: Arial, sans-serif;
}
.user-password-section p {
    margin-top: 0;
    display: none;
}
/* Реквизиты  компании */
.user-company-section form {
    padding-top: 25px;
}
.user-company-section input[type=text] {
    color: #b6b6b6;
    font-size: 18px;
    font-family: OfficinaSansC Book, serif;
    padding-left: 15px;
    padding-right: 15px;
    width: 400px !important;
}
#save-company {
    margin-top: 15px;
    width: 220px !important;
    font-family: Arial, sans-serif;
    display: block;
}
/* Реквизиты */
.user-details-section {
    min-height: 550px;
}
.user-details-table {
    width: 100%;
    margin: 75px 0 30px 0;
}
.user-details-table input[type=radio] {
    box-shadow: none;
    width:14px;
    height:14px;
}
.user-details-table .s3_text {
    width: auto;
}
.user-details-table .tooltip_plugin {
    display: inline-block;
    font: 12px Helvetica, sans-serif;
    color: #658fa5;
    position: relative;
    bottom: 1px;
}
.user-details-section #save {
    width: 220px;
    margin-top: 32px;
}
.s3_h {
    cursor: pointer;
}
.s3_text {
    cursor: pointer;
}
/* Уведомления */
#fieldblock4 {
    margin-top: 35px;
}
#fieldblock4 label {
    color: #666;
    /*width: 378px;*/
    display: block;
    font-size: 18px;
    text-shadow: -1px 0 0 #FFFFFF;
    font-family: OfficinaSansC Book, serif;
    letter-spacing: -0.5px;
    text-indent: -22px;
    padding-left: 22px;
}
#fieldblock4 ul {
    /*float: left;*/
}
#fieldblock4 ul:nth-child(odd) {
    margin-right: 15px;
}
#fieldblock4 ul> li {
    margin-bottom: 15px;
}
#save-notifications {
    width: 340px;
    margin-top: 20px;
}
