.solution-container .solution-title {
    background: linear-gradient(#F0EFED, #DFDFDC) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.solution-container .solution-title a,
.solution-container .solution-title h1 {
    color: #606060;
}
.solution-container .solution-title a:hover {
    text-decoration: underline;
}
.solution-container .solution-title h1 .price,
.solution-container .solution-title h1 .new-price {
    font-size: 17px;
    font-family: Arial,sans-serif;
    font-weight: bold;
}

.solution-container #P_card {
    padding-left: 40px;
    width: 650px;
}
#P_card input.button {
    float: none !important;
    margin: 10px 19px 0 !important;
}

.solution-container #step3 {
    position: relative;
}

.solution-container #step3 h1 {
    margin-left: 150px;
    text-align: left;
}

.solution-container #step3 .g_line.first {
    width: 674px;
}

#paybutton-payanyway {
    background: linear-gradient(#658fa5, #537587) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 4px solid #cecece;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    height: 47px;
    line-height: 41px;
    padding: 0 30px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    display: none;
}

#step3 h1{
    text-align:center;
    font: bold 28px/1 "RodeoC", sans-serif;
    text-transform:uppercase;
    margin-bottom:10px;
}


input.rb1{
    margin:20px 10px 10px 0px;
}

td.s3_text{
    padding:15px 0px 0px 0px;
    text-transform:uppercase;
    width:100%;
    color: #666;
    font-size: 11px;
    text-shadow: -1px 0 0 #FFFFFF;
    cursor: pointer;
}
td.s3_h {
    cursor: pointer;
}
#s3_kv {
    display: none;
    font-size: 13px;
    margin: 30px 0 0 130px;
    text-shadow: -1px 0 0 #FFFFFF;
}
#s3_kv label {
    display: block;
    margin: 10px 0;
    color: #666;
    text-transform: uppercase;
}
#s3_kv input[type="radio"] {
    margin: 0 10px 3px 0;
}
#s3_kv input[type="text"] {
    width: 388px;
    margin-left: 20px;
    font-size: 14px;
    text-transform: none;
}
#s3_kv p {
    width: 420px;
    margin: 20px 0 20px 20px;
    color: #666;
    font-size: 14px;
}
#s3_kv .pay-fiz {
    display: none;
}
#s3_kv .pay-fiz img.arrow-bill-download {
    margin: 20px 0 0 210px;
}
#s3_kv .pay-yur {
    display: none;
}
#s3_kv .pay-yur label {
    margin: 25px 0 5px 20px;
    font-size: 11px;
}
#P_card{
    margin:20px 0 0 0;
}

#P_card input.button{
    float:right;
    margin:10px 0 0 0;
}

#P_card table{
    width:100%;
    text-align:left;
}

#P_card input.button#na{
    background:#a2b2bb;
}

.greyed {
    background:#a2b2bb;
}
.greyed {
    cursor:default;
}

#P_card input.button#na:hover{
    cursor:default;
}

#P_card input.button{
    width:190px;
    padding-left:25px;
}
/*
 * Paymaster Widget
 */
.pmwidget.mod {
    background: #e2e2e2;
    box-shadow: none;
}
#step3 div.pmwidget h1.pmheader.mod {
    font: 14px/17px Arial;
    color: #666;
    text-transform: none;
    text-align: left;
}
p#top-pay{
    color: #666;
    font-size: 14px;
    text-shadow: -1px 0 0 #ffffff;
    line-height: 2em;
    text-align: center;
    margin-bottom: 26px;
}
