a.buy-solution {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 211px;
  height: 48px !important;
  line-height: 48px !important;
  background-color: #ff5360;
  color: #fbfbfb;
  font-family: Arial, serif;
  font-size: 12px;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: auto;
  display: none;
}

a.buy-solution-for-long-image {
  position: absolute;
  top: 220px;
  right: 0;
  left: 0;
  width: 211px;
  height: 48px !important;
  line-height: 48px !important;
  background-color: #ff5360;
  color: #fbfbfb;
  font-family: Arial, serif;
  font-size: 12px;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  display: none;
}

a.buy-solution:hover,
a.buy-solution:active {
  background-color: #f83d4b;
  text-decoration: none;
}

.logosale-container {
  position: relative;
  display: table-cell;
  background-color: #fff;
}

.logosale-container:hover img {
  opacity: 0.3;
}

.logosale-container:hover a.buy-solution,
.logosale-container:hover a.buy-solution-for-long-image {
  display: block;
}
.h2link {
  display: block;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url(/img/images/howitworks.png);
  background-origin: padding-box;
  background-position: 50% 0px;
  background-repeat: no-repeat;
  background-size: auto;
}

.h2link {
  font-family: "RodeoC", serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  height: 38px;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
}