.lp-subscribe {
    width: 1218px;
    margin: 0 auto;
}
.lp-header {
    color: #ffffff;
    margin: 0 auto;
    background: url(/img/pages/subscribe/lp_women.png) no-repeat;
    width: 1218px;
    height: 435px;
    padding-top: 140px;
}
.lp-header h1 {
    margin: 0 auto 40px auto;
    font-size: 46px;
    font-family: RodeoC, serif;
    width: 560px;
}
.lp-header p {
    display: block;
    width: 590px;
    text-align: center;
    font-size: 20px;
    font-family: OfficinaSansC Book, serif;
    line-height: 29px;
    margin: 0 auto 48px auto;
}
.button-container {
    text-align: center;
    width: 416px;
    margin: 0 auto;
}
.button-container a {
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    display: block;
    width: 356px;
    height: 54px;
    line-height: 54px;
    font-size: 11px;
    margin-bottom: 20px;
    text-decoration: none;
}
.lp-advantages {
    height: 724px;
    padding: 50px 195px 0 195px;
}
.lp-advantages h1 {
    font-size: 30px;
    font-family: RodeoC, serif;
    text-shadow: -1px 0 0 #c0c0c0, 1px 1px 0 #efefef;
    color: #ccc;
    font-weight: normal;
    margin-bottom: 50px;
}
.lp-advantages h6 {
    font-family: RodeoC, serif;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    padding-bottom: 30px;
    text-shadow: -1px 0 0 #FFFFFF;
}
.lp-advantages p {
    line-height: 27px;
    font-size: 20px;
    font-family: OfficinaSansC Book, serif;
    color: #666666;
    width: 615px;
}
.lp-advantages li {
    margin-bottom: 24px;
    height: 128px;
    padding-top: 38px;
}
.lp-advantages li.adv-500 {
    background: url(/img/pages/subscribe/adv_500.png) no-repeat right center;
}
.lp-advantages li.adv-timer {
    background: url(/img/pages/subscribe/adv_timer.png) no-repeat right center;
}
.lp-advantages li.adv-rouble {
    background: url(/img/pages/subscribe/adv_rouble.png) no-repeat right center;
}
.lp-advantages span {
    font-size: 131px;
    line-height: 131px;
    font-weight: bold;
    text-shadow: -1px 0 0 #c0c0c0, 1px 1px 0 #efefef;
    color: #ccc;
    font-family: RodeoC, serif;
    float: left;
    margin-right: 45px;
    position: relative;
    top: -16px;
}
.lp-headline {
    padding-top: 44px;
    line-height: 40px;
    height: 174px;
    font-size: 30px;
    font-family: OfficinaSansC Book, serif;
    color: #fff;
    text-align: center;
    background-color: #353846;
}
.lp-explain {
    /*padding-top: 232px;
    height: 256px;*/
    height: 488px;
}
.lp-explain ul {

}
.lp-explain li {
    padding-top: 232px;
    width: 258px;
    margin-right: 15px;
    text-align: center;
    font-size: 20px;
    font-family: OfficinaSansC Book, serif;
    color: #666666;
    float: left;
}
.lp-explain li.last {
    margin-right: 0;
}
.lp-explain li.center {
    padding-left: 7px;
    padding-right: 7px;
}
.lp-explain div {
    background: url(/img/pages/subscribe/lp-explain-background-image.png) no-repeat center top;
    width: 820px;
    height: 330px;
    margin: 0 auto;
    line-height: 27px;
}
.lp-table {
    padding: 50px 195px 0 195px;
    height: 750px;
}
.lp-table h1 {
    font-size: 30px;
    font-family: RodeoC, serif;
    text-shadow: -1px 0 0 #c0c0c0, 1px 1px 0 #efefef;
    color: #ccc;
    font-weight: normal;
}
.tariff-table {
    margin-top: 35px;
    width: 100%;
}
.tariff-table td {
    height: 45px;
    vertical-align: middle;
}
.tariff-table thead td{
    background-color: #e8e8e8;
    font-family: OfficinaSansC Bold, serif !important;
    font-size: 16px;
    color: #666666;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    padding-top: 5px;
    height: 33px;
}
.tariff-table tbody td{
    font-family: OfficinaSansC Book, serif !important;
    font-size: 18px;
    color: #666666;
    padding-left: 10px;
    padding-right: 10px;
}
.tariff-table tbody tr:nth-child(odd) {
    background-color: #e2e1e1;
}
.tariff-table tbody tr:nth-child(even) {
    background-color: #e8e8e8;
}
.tariff-table td.tick-cell {
    text-align: center;
}
.tariff-table td.title-cell {
    text-align: left;
    padding-left: 17px;
    padding-right: 0;
}
.footer-table {
    width: 100%;
}
.footer-table td {

}
.footer-table h5{
    font-size: 30px;
    font-family: OfficinaSansC Bold, serif;
    color: #7f7e7e;
    margin-bottom: 10px;
}
.footer-table .description {
    width: 358px;
    padding-left: 17px;
    padding-top: 10px;
    font-size: 14px;
    font-family: OfficinaSansC Book, serif;
    color: #999;
}
.footer-table .try {
    font-family: OfficinaSansC Bold, serif;
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
    color: #7f7e7e;
}
.footer-table .try a {
    margin-top: 10px;
}
.lp-getinfo {
    background: #353846 url(/img/pages/subscribe/email.png) no-repeat center 30px;
    padding-top: 100px;
    line-height: 26px;
    height: 135px;
    font-size: 20px;
    font-family: OfficinaSansC Book, serif;
    color: #fff;
    text-align: center;
}
.lp-badges {
    background-color: #353846;
    color: #fff;
    height: 368px;
}
.lp-badges h4 {
    margin-top: 12px;
    text-align: center;
    color: #f4f4f4;
    font-family: OfficinaSansC Bold, serif;
    font-size: 15px;
}
.lp-badges h3 {
    margin-top: 10px;
    text-align: center;
    color: #f4f4f4;
    font-family: OfficinaSansC Bold, serif;
    font-size: 23px;
}
.lp-badges p {
    background: url(/img/pages/subscribe/gray-tick.png) no-repeat left top;
    font-size: 11px;
    color: #818181;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding-left: 25px;
    text-align: center;
    width: 175px;
    margin: 50px auto 0 auto;
}
.lp-badges .price {
    font-family: OfficinaSansC Bold, serif;
    font-size: 44px;
    color: #858585;
    display: block;
    text-align: center;
    width: 175px;
    margin: 40px auto 0 auto;
}
.lp-badges .price-description {
    font-family: OfficinaSansC Bold, serif;
    font-size: 18px;
    color: #858585;
    display: block;
    text-align: center;
    width: 175px;
    margin: 14px auto 20px auto;
}
.lp-badges .badge {
    float: left; padding-top: 40px; width: 284px; height: 300px;
    text-align: center;
}
.lp-badges .center-badge {
    float: left; padding-top: 6px; width: 265px; height: 300px;
    text-align: center;
}
.lp-badges a {
    width: 148px;
}
.lp-badges .center-badge p {
    width: 205px;
    padding-left: 25px;
    margin-left: 15px;
    margin-right: 25px;
    margin-top: 40px;
}
.lp-badges .right-badge {
    float: left;
    padding-top: 30px;
    width: 284px;
    height: 300px;
    text-align: center;
}
.lp-badges .right-badge p {
    width: 205px;
    margin-top: 50px;
    margin-bottom: 54px;
}
.lp-badges .badges-block {
    margin: 0 auto;
    bottom: 90px;
    position: relative;
    background: url(/img/pages/subscribe/badge.png) no-repeat center top;
    width: 836px;
    height: 368px;
}